body {
   padding: 0;
   margin: 0;
   color: RGB(255, 255, 255);
}

body, code {
   font-family: Iosevka, monospace, monospace;
   font-size: 1.1em;
   line-height: 1.5em;
   font-weight: 200;
   font-feature-settings: "ss09";
}

iframe {
   border: 0;
   margin: 10px 0;
}

pre {
   font-size: 1.6rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   pre {
      font-size: .6rem;
   }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   pre {
      font-size: 1rem;
   }
}
